[build]
target = "avr-specs/avr-attiny1616.json"

[target.'cfg(target_arch = "avr")']
runner = "ravedude uno -cb 57600"

[unstable]
build-std = ["core", "panic_abort"]
build-std-features = ["optimize_for_size", "panic_immediate_abort", "compiler-builtins-mangled-names", "core/turbowakers"]
# build-std-features = ["panic_immediate_abort", "compiler-builtins-mangled-names", "core/turbowakers"]
